---
import Icon from "./Icon.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const logos = [
  { icon: "references/ippon", alt: "Ippon" },
  { icon: "references/collectif-energie", alt: "Collectif Énergie" },
  { icon: "references/croix-rouge", alt: "Croix-Rouge française" },
  { icon: "references/protection-civile", alt: "Protection Civile" },
  { icon: "references/lonestone", alt: "Lonestone" },
  { icon: "references/evea", alt: "Evea" },
  { icon: "references/ids-media", alt: "IDS Media" },
  { icon: "references/externatic", alt: "Externatic" },
];
---

<section class:list={["overflow-hidden", className]}>
  <div class="relative">
    <div
      class="animate-marquee flex w-max items-center text-gray-400"
      style="--marquee-duration: 20s"
    >
      {
        [...logos, ...logos].map(({ icon, alt }) => (
          <Icon
            icon={icon}
            class="h-8 md:h-9 lg:h-11 w-auto mr-20"
            aria-label={alt}
          />
        ))
      }
    </div>
  </div>
</section>
